<div style="padding: 30px; display:flex; justify-content: center; gap: 3px; vertical-align: bottom; flex-direction: column;">
  <div>
    <input placeholder="search by Name" #myTitle [(ngModel)]="search" (keyup)="searching(myTitle.value,'Name')">
  </div>
  <div>
    <input placeholder="search by Parent" #myTitle2 [(ngModel)]="parentSearch" (keyup)="searching(myTitle2.value,'ParentCategoryName')">
  </div>
  <ejs-grid [autoFit]="true" #grid [dataSource]="data" [allowSorting]="true" [allowPaging]="true" [pageSettings]="pageSettings"
    (actionBegin)="action($event)" [queryString]="queryStr" [query]="query">
    <e-columns>
      <e-column field='Id' headerText='ID' ></e-column>
      <e-column field='Name' headerText='Category Name' ></e-column>
      <e-column field='ParentCategoryName' headerText='Parent Category Name'  ></e-column>

      <e-column textAlign='Center' >
        <ng-template #template let-data>
          <button class="e-btn e-flat" >Edit</button>
          <button class="e-btn e-flat" >Delete</button>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>